<div class="container">

    <h1 style="text-align: center">Productos</h1>
    <br>
    <div class="row row-cols-2 row-cols-md-3">

        {{#each products}}
        <div>
            <div>
                    <div class="card mb-3" style="background-color: rgba(127, 210, 255, 0.399);">
                        <img src={{this.thumbnail}} alt="">
                            <div class="card-body" >
                                <h3> Nombre: {{this.title}}</h3>
                                <h4> Modelo: {{this.description}}</h4>
                                <p>{{this.price}}</p>
                                <a href="/product/{{this.id}}">
                                    <button class="btn btn-outline-dark">Detalles</button>
                                </a>
                            </div>   
                </div>
            </div>    
        </div>    
  {{/each}}
</div>
<div class="container d-flex "> 
  {{! Indicamos que los botones aparezcan mientras prevPage y nextPage no sean null }}
  {{#if prevPage}}
    <a href={{prevLink}}>
      <button>Anterior</button>
    </a>
  {{/if}}
  <p class="mx-2 ">Page {{this.page}}</p>
  {{#if nextPage}}
    <a href={{nextLink}}>
      <button>Siguiente</button>
    </a>
  {{/if}}
</div>